<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan">
  <test thread-count="5" name="CarLoan">
  <classes>
  <class name="TestPrac.day1">
  <methods>
  <exclude name=".*"></exclude>
  
  </methods>
  </class>
  <class name="TestPrac.day2">
  <methods>
  
  </methods>
  </class>
  
  </classes>
  
  
  </test> 
  <test thread-count="5" name="HomeLoan">
  
  <classes>
  <class name="TestPrac.day3">
  <methods>
  
  </methods>
  </class>
  <class name="TestPrac.day4">
  <methods>
  
  </methods>
  </class>
  
  </classes>
  
  
  </test>
</suite> <!-- Suite -->
